{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    {% if registered %}
    <div class="panel panel-success">
        <div class="panel-body">
            <h2>You have been successfully registered!</h2>
            <h1 class="text-primary">You may now <a href="{{ url_for('login') }}">Log In</a></h1>
        </div>
    </div>
    {% else %}
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirm-password" placeholder="Confirm Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
    {% endif %}
{% endblock %}
